.fade-enter {
  transform: translateY(10vh) scale(0.9) !important;
  opacity: 0 !important;
}

.fade-exit {
  position: absolute;
  transform: translateY(10vh) scale(0.9) !important;
  opacity: 0 !important;
  pointer-events: none;
  user-select: none;
}

.fade {
  opacity: 1;
  transition: all 0.2s ease;
}
