@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  src: url('/src/assets/fonts/GmarketSansLight.woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  src: url('/src/assets/fonts/GmarketSansMedium.woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  src: url('/src/assets/fonts/GmarketSansBold.woff2');
}

* {
  font-family: 'GmarketSans';
}
