@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.base {
  position: fixed;
  inset: 0 0 0 0;
  overflow-y: scroll;
  z-index: 100;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: translateY(4rem);
  opacity: 0;
}

.enter {
  transform: translateY(0);
  opacity: 1;
}

.exit {
  opacity: 1;
  transform: translateY(4rem);
  opacity: 0 !important;
  pointer-events: none;
}

.alert-base {
  position: fixed;
  inset: 0 0 0 0;
  overflow-y: scroll;
  z-index: 100;
  box-sizing: border-box;
  transition: all 0.2s ease;
  opacity: 0;

  > div > div > div {
    transition: all 0.2s ease;
    opacity: 0;
    transform: translateY(4rem);
  }
}

.alert-enter {
  opacity: 1;

  > div > div > div {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-exit {
  opacity: 1;
  opacity: 0 !important;
  pointer-events: none;

  > div > div > div {
    opacity: 0;
  }
}
