@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.enter {
  position: fixed;
  inset: 0 0 0 0;
  overflow-y: scroll;
  z-index: 100;
  box-sizing: border-box;
  opacity: 1;
  animation: fadeIn 0.3s ease 1;
}

.exit {
  position: fixed;
  inset: 0 0 0 0;
  overflow-y: scroll;
  z-index: 100;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateY(4rem);
  opacity: 0 !important;
  pointer-events: none;
}
