
.Login {
  /* 위 (좌우) 아래 */
  padding: 100px 50px 0px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 36px !important;
}

.emailtexfield {
  margin-bottom: 20px;
}

.passwordtextfield {
  margin-bottom: 30px;

}

.errormsg{
  padding: 6px 2px 0;
}

.LoginBtn {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.SignUpBtn {
  display: flex;
  justify-content: center;
}

.LoginBtn > Button {
  width: 180px;
  border-radius: 30px !important;
}

.SignUpBtn > Button {
  border-radius: 30px !important;
  width: 180px;
}

.passwordfind {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.errormsg {
  white-space: pre-wrap;
  text-align: center;
}