.fade-enter {
  transform: translateX(50vw) !important;
  opacity: 0 !important;
}

.fade-exit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-50vw) !important;
  opacity: 0 !important;
  pointer-events: none;
  user-select: none;
}

.fade {
  opacity: 1;
  transition: all 10.3s ease;
}
