.fade-enter {
  transform: translateX(10vw) !important;
  opacity: 0 !important;
}

.fade-exit {
  position: absolute;
  transform: translateX(10vw) !important;
  opacity: 0 !important;
  pointer-events: none;
  user-select: none;
}

.fade {
  opacity: 1;
  transition: all 0.2s ease;
  height: 100%;
}
