.fade-enter {
  transform: translateY(-10vh) !important;
  opacity: 0 !important;
}

.fade-exit {
  opacity: 0 !important;
  pointer-events: none;
  user-select: none;
}

.fade {
  position: absolute;
  inset: 0 0 0 0;
  overflow-y: scroll;
  padding: 1rem;
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease;
  transition-property: transform, opacity;
}
