<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
  "
>
    <tbody>
    <tr>
        <td
                style="
          border: 10px solid #f2f2f2;
          padding: 90px 14px 90px 14px;
          margin-left: auto;
          margin-right: auto;
        "
        >
            <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="
            width: 100%;
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
            letter-spacing: -1px;
          "
            >
                <tbody>
                <tr>
                    <td
                            style="
                  font-size: 44px;
                  line-height: 48px;
                  font-weight: bold;
                  color: #000000;
                  padding-bottom: 60px;
                  text-align: left;
                  letter-spacing: -1px;
                  font-family: 나눔고딕, NanumGothic, 맑은고딕, Malgun Gothic,
                    돋움, Dotum, Helvetica, Apple SD Gothic Neo, Sans-serif;
                "
                    >
                        <span>이메일 인증번호 안내</span>
                    </td>
                </tr>
                <tr>
                    <td
                            style="
                  padding-bottom: 50px;
                  font-size: 14px;
                  line-height: 22px;
                  font-weight: normal;
                  color: #000000;
                  text-align: left;
                  letter-spacing: -1px;
                  font-family: 나눔고딕, NanumGothic, 맑은고딕, Malgun Gothic,
                    돋움, Dotum, Helvetica, Apple SD Gothic Neo, Sans-serif;
                "
                    >
                        <p style="margin: 0; padding: 0">
                            본 메일은 본인 확인을 위한 이메일 인증입니다.
                        </p>
                        <p style="margin: 0; padding: 0">
                            아래의 [이메일 인증번호]를 입력하여 본인확인을 해주시기
                            바랍니다.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 50px">
                        <table
                                align="center"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="width: 100%"
                        >
                            <tbody>
                            <tr>
                                <td
                                        style="
                          padding: 50px 30px;
                          border: 1px solid #eeeeee;
                          background: #fbfbfb;
                          text-align: center;
                        "
                                >
                                    <p
                                            style="
                            margin: 0;
                            padding: 0;
                            font-size: 18px;
                            font-weight: bold;
                            color: #000000;
                            letter-spacing: -1px;
                            font-family: 나눔고딕, NanumGothic, 맑은고딕,
                              Malgun Gothic, 돋움, Dotum, Helvetica,
                              Apple SD Gothic Neo, Sans-serif;
                          "
                                            th:text="${verificationNumber}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
